.CFromRenderBox {
  :global {
    .ant-collapse .ant-collapse-content > .ant-collapse-content-box {
      padding-right: 5px;
    }

    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      padding: 5px 5px 5px 10px;
      align-items: center;
      .ant-collapse-expand-icon {
        // padding-right: 8px;
        padding-inline-end: 4px;
      }
    }
  }
}
