.label {
  width: 60px;
  display: inline-block;
  color: $fontColor;
  font-size: 14px;
  flex-shrink: 0;
  &.font {
    width: 50px;
  }
}

.fontOption {
  display: inline-block;
  width: 50px;
}

.row {
  padding-bottom: 10px;
}

.CSSUIPanel {
  :global {
    .ant-radio-button-wrapper {
      font-size: 12px !important;
    }
  }
}
