.dragItem {
  cursor: grab;
  border: 1px solid $borderColor;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: $fontSizeSmall;
  border-radius: $borderRadius;
}

.sortModalBox {
  padding: 20px 10px 10px;
  overflow: auto;
  max-height: 500px;
}
