/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e2e2e;
  --ifm-color-primary-dark: #292929;
  --ifm-color-primary-darker: #272727;
  --ifm-color-primary-darkest: #202020;
  --ifm-color-primary-light: #333333;
  --ifm-color-primary-lighter: #353535;
  --ifm-color-primary-lightest: #3c3c3c;
  --docusaurus-highlighted-code-line-bg: rgb(255, 255, 255);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #d9d9d9;
  --ifm-color-primary-darkest: #b3b3b3;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgb(40, 56, 61);
}

.navbar__logo img {
  width: 32px;
  height: 32px;
}
