$anchorColor: #1890ff;
.highlightBox {
  position: absolute;
  will-change: transform, width, height, left, right;
}

.borderDrawBox {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  pointer-events: none;
}

.toolBox {
  position: absolute;
  right: 0;
  top: -20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.horizontal {
  &.before {
    border-left: 2px solid $anchorColor;
  }
  &.after {
    border-right: 2px solid $anchorColor;
  }
}

.vertical {
  &.before {
    border-top: 2px solid $anchorColor;
  }
  &.after {
    border-bottom: 2px solid $anchorColor;
  }
}

.current {
  border: none !important;
  background-color: rgba($color: #0084ff, $alpha: 0.42);
}
