.panelBox {
  width: 100%;
  display: flex;
  flex-direction: column;

  .middleArea {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .leftArea {
    position: relative;
    min-height: 100%;
  }

  .rightArea {
    width: 100px;
  }

  .canvasArea {
    flex: 1;
    width: 100%;
    height: 100%;
  }
}
