.layoutContainer {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.elementHighlightBox {
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
