.cssFieldBox {
  display: flex;
  align-items: center;
  color: $textColor !important;
  :global {
    .ant-select-selector {
      padding: 0 !important;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-search {
      inset-inline-start: 0px;
      inset-inline-end: 0px;
    }

    .ant-select-selector input {
      color: $textColor !important;
    }
    .ant-select-status-error {
      border-bottom: 1px solid red !important;
    }
  }

  .inputAuto {
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
  }

  .active {
    border-bottom: 1px solid rgb(128, 177, 255);
  }
}

.cssBox {
  overflow-x: hidden;
  :global {
    .ant-collapse-borderless > .ant-collapse-item {
      border-bottom: 1px solid #e4e4e4;
    }

    .ant-collapse-borderless > .ant-collapse-item:last-child {
      border-bottom: none;
    }
    .ant-collapse-content-box {
      padding-bottom: 30px !important;
    }
  }
}
