.highlightBox {
  position: absolute;
  will-change: transform, width, height, left, right;
  border: 2px solid red;
}

.borderDrawBox {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  pointer-events: none;
}

.toolBox {
  position: absolute;
  right: 0;
  top: -20px;
  border: 1px solid black;
  box-sizing: border-box;
}
