.highlightBox {
  position: absolute;
  will-change: transform, width, height, left, right;
  outline: 1px solid rgb(44 115 253 / 88%);
  box-shadow: 0 0 0 1px rgb(255 255 255 / 72%), 0 2px 8px rgb(44 115 253 / 12%);
}

.borderDrawBox {
  position: absolute;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.toolBox {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: translateY(-100%);
}
