.highlightBox {
  position: absolute;
  will-change: transform, width, height, left, right;
  outline: 2px solid rgb(44, 115, 253);
}

.borderDrawBox {
  position: absolute;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.toolBox {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: translateY(-100%);
}
