@use 'sass:color';
$baseColor: #1677ff;
/* base style variables */
$borderColor: rgb(233 233 233);
$baseBackgroundColor: #edeff3;
$fontSize: 14px;
$fontColor: rgba(0, 0, 0, 0.75);

$hoverColor: rgba(22, 119, 255, 0.3);
